[submodule "test-data/vb6-code"]
	path = test-data/vb6-code
	url = https://github.com/tannerhelland/vb6-code
[submodule "test-data/audiostation"]
	path = test-data/audiostation
	url = https://github.com/Sibra-Soft/audiostation.git
[submodule "test-data/Binary-metamorphosis"]
	path = test-data/Binary-metamorphosis
	url = https://github.com/Gagniuc/Binary-metamorphosis.git
[submodule "test-data/Bitrate-calculator"]
	path = test-data/Bitrate-calculator
	url = https://github.com/Philippe734/Bitrate-calculator.git
[submodule "test-data/CdiuBeatUpEditor"]
	path = test-data/CdiuBeatUpEditor
	url = https://github.com/dreamd/CdiuBeatUpEditor.git
[submodule "test-data/ChessBrainVB"]
	path = test-data/ChessBrainVB
	url = https://github.com/RZulu54/ChessBrainVB.git
[submodule "test-data/ComponentDocumenter"]
	path = test-data/ComponentDocumenter
	url = https://github.com/EduardoVB/ComponentDocumenter.git
[submodule "test-data/CoolWind2D-GameEngine-CHS"]
	path = test-data/CoolWind2D-GameEngine-CHS
	url = https://github.com/CoolWindValley/CoolWind2D-GameEngine-CHS.git
[submodule "test-data/DevOps"]
	path = test-data/DevOps
	url = https://github.com/hojat-gazestani/DevOps.git
[submodule "test-data/Discrete-Probability-Detector-in-VB6"]
	path = test-data/Discrete-Probability-Detector-in-VB6
	url = https://github.com/Gagniuc/Discrete-Probability-Detector-in-VB6.git
[submodule "test-data/Endless-runner-Game_VB6.0"]
	path = test-data/Endless-runner-Game_VB6.0
	url = https://github.com/Haricharan2012/Endless-runner-Game_VB6.0.git
[submodule "test-data/Environment"]
	path = test-data/Environment
	url = https://github.com/M2000Interpreter/Environment.git
[submodule "test-data/framework-vb6"]
	path = test-data/framework-vb6
	url = https://github.com/tomascardoner/framework-vb6.git
[submodule "test-data/Genomin"]
	path = test-data/Genomin
	url = https://github.com/Gagniuc/Genomin.git
[submodule "test-data/Markov-Chains-VB6"]
	path = test-data/Markov-Chains-VB6
	url = https://github.com/Gagniuc/Markov-Chains-VB6.git
[submodule "test-data/Mix-two-signals-by-using-Spectral-Forecast-in-VB6-app-v1.0"]
	path = test-data/Mix-two-signals-by-using-Spectral-Forecast-in-VB6-app-v1.0
	url = https://github.com/Gagniuc/Mix-two-signals-by-using-Spectral-Forecast-in-VB6-app-v1.0.git
[submodule "test-data/Mix-two-signals-by-using-Spectral-Forecast-in-VB6-app-v2.0"]
	path = test-data/Mix-two-signals-by-using-Spectral-Forecast-in-VB6-app-v2.0
	url = https://github.com/Gagniuc/Mix-two-signals-by-using-Spectral-Forecast-in-VB6-app-v2.0.git
[submodule "test-data/NewTab"]
	path = test-data/NewTab
	url = https://github.com/EduardoVB/NewTab.git
[submodule "test-data/OCX_Advanced_Control__VB6"]
	path = test-data/OCX_Advanced_Control__VB6
	url = https://github.com/RizkyKhapidsyah/OCX_Advanced_Control__VB6.git
[submodule "test-data/OCX_Advanced_Grid__VB6"]
	path = test-data/OCX_Advanced_Grid__VB6
	url = https://github.com/RizkyKhapidsyah/OCX_Advanced_Grid__VB6.git
[submodule "test-data/omelette-vb6"]
	path = test-data/omelette-vb6
	url = https://github.com/pyhoon/omelette-vb6.git
[submodule "test-data/opendialup"]
	path = test-data/opendialup
	url = https://github.com/jwillians/opendialup.git
[submodule "test-data/Papaver-Genomics"]
	path = test-data/Papaver-Genomics
	url = https://github.com/xjtu-omics/Papaver-Genomics.git
[submodule "test-data/project-duplication-detection-system"]
	path = test-data/project-duplication-detection-system
	url = https://github.com/Edward5051/project-duplication-detection-system.git
[submodule "test-data/ProjectExaminer"]
	path = test-data/ProjectExaminer
	url = https://github.com/EduardoVB/ProjectExaminer.git
[submodule "test-data/PromKappa-1.0-makes-Objective-Digital-Stains"]
	path = test-data/PromKappa-1.0-makes-Objective-Digital-Stains
	url = https://github.com/Gagniuc/PromKappa-1.0-makes-Objective-Digital-Stains.git
[submodule "test-data/Prototype-software-for-Photon-pixel-coupling"]
	path = test-data/Prototype-software-for-Photon-pixel-coupling
	url = https://github.com/Gagniuc/Prototype-software-for-Photon-pixel-coupling.git
[submodule "test-data/ScrollableContainer"]
	path = test-data/ScrollableContainer
	url = https://github.com/EduardoVB/ScrollableContainer.git
[submodule "test-data/SK-ADO_Dan_SQL_Demo__VB6"]
	path = test-data/SK-ADO_Dan_SQL_Demo__VB6
	url = https://github.com/RizkyKhapidsyah/SK-ADO_Dan_SQL_Demo__VB6.git
[submodule "test-data/SK-Alarm_Clock__VB6"]
	path = test-data/SK-Alarm_Clock__VB6
	url = https://github.com/RizkyKhapidsyah/SK-Alarm_Clock__VB6.git
[submodule "test-data/SK-Password-Application-ADD-ON__VB6"]
	path = test-data/SK-Password-Application-ADD-ON__VB6
	url = https://github.com/RizkyKhapidsyah/SK-Password-Application-ADD-ON__VB6.git
[submodule "test-data/SK-SQL_Code_Generator_V2__VB6"]
	path = test-data/SK-SQL_Code_Generator_V2__VB6
	url = https://github.com/RizkyKhapidsyah/SK-SQL_Code_Generator_V2__VB6.git
[submodule "test-data/stdVBA-Inspiration"]
	path = test-data/stdVBA-Inspiration
	url = https://github.com/sancarn/stdVBA-Inspiration.git
[submodule "test-data/SteamyDock"]
	path = test-data/SteamyDock
	url = https://github.com/yereverluvinunclebert/SteamyDock.git
[submodule "test-data/Troyano-VB6-PoC"]
	path = test-data/Troyano-VB6-PoC
	url = https://github.com/adrianlois/Troyano-VB6-PoC.git
[submodule "test-data/ucJLDatePicker"]
	path = test-data/ucJLDatePicker
	url = https://github.com/JoseMLiza/ucJLDatePicker.git
[submodule "test-data/unlightvbe_qs"]
	path = test-data/unlightvbe_qs
	url = https://github.com/unlightvbe/unlightvbe_qs.git
[submodule "test-data/vb6"]
	path = test-data/vb6
	url = https://github.com/badcodes/vb6.git
[submodule "test-data/Vb6.0"]
	path = test-data/Vb6.0
	url = https://github.com/jinalkathiriya/Vb6.0.git
[submodule "test-data/VB6-2D-Physic-Engine"]
	path = test-data/VB6-2D-Physic-Engine
	url = https://github.com/miorsoft/VB6-2D-Physic-Engine.git
[submodule "test-data/VB6-add-GUI-objects-at-runtime"]
	path = test-data/VB6-add-GUI-objects-at-runtime
	url = https://github.com/Gagniuc/VB6-add-GUI-objects-at-runtime.git
[submodule "test-data/VB6-AddIn-Delete-vbw-Files"]
	path = test-data/VB6-AddIn-Delete-vbw-Files
	url = https://github.com/EduardoVB/VB6-AddIn-Delete-vbw-Files.git
[submodule "test-data/VB6-samples"]
	path = test-data/VB6-samples
	url = https://github.com/thomasschilb-com/VB6-samples.git
[submodule "test-data/VbScalesReader"]
	path = test-data/VbScalesReader
	url = https://github.com/wqweto/VbScalesReader.git
[submodule "test-data/VPN-Lifeguard"]
	path = test-data/VPN-Lifeguard
	url = https://github.com/Philippe734/VPN-Lifeguard.git
[submodule "test-data/w.bloggar"]
	path = test-data/w.bloggar
	url = https://github.com/lvcabral/w.bloggar.git
[submodule "test-data/Win_Dialogs"]
	path = test-data/Win_Dialogs
	url = https://github.com/OlimilO1402/Win_Dialogs.git
