docs/vb6parse/assets/data/coverage.json filter=lfs diff=lfs merge=lfs -text
docs/vb6parse/assets/data/coverage-history.json filter=lfs diff=lfs merge=lfs -text
docs/vb6parse/assets/data/benchmarks-history.json filter=lfs diff=lfs merge=lfs -text
docs/vb6parse/assets/wasm/wasm/*.wasm filter=lfs diff=lfs merge=lfs -text
